<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <h2 class="sub-header-password">Enter email</h2>
            <form class="login" action="#" th:action="@{/auth/forgot_password}" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="email" name="email" class="login__input" placeholder="Enter email">
                </div>
                <input class="button login__submit" type="submit" value="Send">
                <br>
                <div class="message-forgotten-password" th:if="${error != null}">
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <div class="message-forgotten-password" th:if="${message != null}">
                    <p class="text-warning">[[${message}]]</p>
                </div>
            </form>
        </div>
    </div>
    <div class="screen__background">
        <span class="screen___background___shape smart-garage"></span>
    </div>
</div>
</body>
</html>