<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ResetPassword</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="screen">
        <div class="screen__content screen___background___shape smart-garage">
            <h2 class="sub-header-password">Reset password</h2>
            <form class="login" action="#" th:action="@{/auth/reset_password/{token}(token=${token})}" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="password" name="password" id="password" class="login__input"
                          placeholder="Enter new password">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="password" name="confirmPassword" class="login__input"
                           placeholder="Confirm password">
                </div>
                <input class="button login__submit" type="submit" value="Send">
                <br>
                <br>
                <div class="message-forgotten-password" th:if="${message != null}">
                    <p align="center">[[${message}]]</p>
                    <br><br>
                    <div class="message-forgotten-password" th:if="${match}">
                        <a class="forgotten-password" th:href="@{/auth/login}">Go to Login</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen___background___shape smart-garage"></span>
        </div>
    </div>
</div>
</body>
</html>